body{
background: aqua;
color:orangered;
font-size: larger;
font: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 20px;
margin: 30px;
}
.header_first{
    border: 100%;
    color: azure;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    blo
}
}